<?xml version="1.0" encoding="utf-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>/Users/lizhongxiang/.m2/repository</localRepository>
	<!--表示当通过plugin的前缀来解析plugin的时候到哪里寻找。pluginGroup元素指定的是plugin的groupId。默认情况下，Maven会自动把org.apache.maven.plugins和org.codehaus.mojo添加到pluginGroups下-->
	<pluginGroups>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
		<pluginGroup>org.apache.maven.plugins</pluginGroup>
	</pluginGroups>
	<proxies>
	</proxies>
	<!--表示当需要连接到一个远程服务器的时候需要使用到的验证方式。这主要有username/password和privateKey/passphrase这两种方式-->
	<servers>
		<!-- <server>
			<id>wiiqq-releases-repository</id>
			<username>mvn-user</username>
			<password>1q2w3e4r</password>
		</server>
		<server>
			<id>wiiqq-snapshots-repository</id>
			<username>mvn-user</username>
			<password>1q2w3e4r</password>
		</server>
		<server>
			<id>wiiqq-public-repository</id>
			<username>mvn-user</username>
			<password>1q2w3e4r</password>
		</server> -->
		<server>
			<id>tengyun-public</id>
			<username>tengyun-public-admin</username>
			<password>TyPublicAdmin#0522^</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>aliyun-central-repository</id>
			<name>aliyun-central-repository</name>
			<mirrorOf>central</mirrorOf>
			<url>http://maven.aliyun.com/nexus/content/groups/public/</url>
		</mirror>
		<!--<mirror>
			<id>central-repository</id>
			<name>central-repository</name>
			<mirrorOf>central</mirrorOf>
			<url>https://repo.maven.apache.org/maven2/</url>
		</mirror>-->
		<!-- <mirror>
			<id>wiiqq-releases-repository</id>
			<name>wiiqq-releases-repository</name> -->
			<!--用来表示该mirror是关联的哪一个仓库，其值为其关联仓库的id。当要同时关联多个仓库时，这多个仓库之间可以用逗号隔开；当要关联所有的仓库时，
			可以使用“*”表示；当要关联除某一个仓库以外的其他所有仓库时，可以表示为“*,!repositoryId”；当要关联不是localhost或用file请求的仓库时，可以表示为“external:*”。-->
			<!-- <mirrorOf>maven-releases</mirrorOf>
			<url>http://mvn.wiiqq.com/repository/maven-releases/</url>
		</mirror> -->
		<!-- <mirror>
			<id>wiiqq-snapshots-repository</id>
			<name>wiiqq-snapshots-repository</name>
			<mirrorOf>maven-snapshots</mirrorOf>
			<url>http://mvn.wiiqq.com/repository/maven-snapshots/</url>
		</mirror> -->
		<!-- <mirror>
			<id>wiiqq-public-repository</id>
			<name>wiiqq-public-repository</name>
			<mirrorOf>maven-snapshots</mirrorOf>
			<url>http://mvn.wiiqq.com/repository/maven-public/</url>
		</mirror> -->
		<mirror>
			<id>spring-milestones-repository</id>
			<name>spring-milestones-repository</name>
			<mirrorOf>milestones</mirrorOf>
			<url>https://repo.spring.io/milestone/</url>
		</mirror>
		<!-- 腾云私有库 -->
		<mirror>
			<id>tengyun-public</id>
			<name>tengyun-public-repository</name>
			<mirrorOf>>tengyun-public</mirrorOf>
			<url>http://203.195.183.207/repository/tengyun-maven-public/</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>compiler-config</id>
			<!--当所有的约束条件都满足的时候就会激活这个profile-->
			<activation>
				<!--当其值为true的时候表示如果没有其他的profile处于激活状态的时候，该profile将自动被激活-->
				<activeByDefault>true</activeByDefault>
				<!--表示当jdk的版本满足条件的时候激活-->
				<jdk>1.8</jdk>
			</activation>
			<properties>
				<maven.compiler.source>1.8</maven.compiler.source>
				<maven.compiler.target>1.8</maven.compiler.target>
				<maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
				<encoding>UTF-8</encoding>
			</properties>
		</profile>
		<profile>
			<id>repo-config</id>
			<repositories>
				<repository>
					<id>aliyun-central-repository</id>
					<name>aliyun-central-repository</name>
					<url>http://maven.aliyun.com/nexus/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<!--
				<repository>
					<id>central-repository</id>
					<name>central-repository</name>
					<url>https://repo.maven.apache.org/maven2/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>-->
				<repository>
					<id>wiiqq-releases-repository</id>
					<url>http://mvn.wiiqq.com/repository/maven-releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<!--表示多久尝试更新一次。可选值有always、daily、interval:minutes（表示每多久更新一次）和never-->
						<updatePolicy>never</updatePolicy>
						<!--当Maven在部署项目到仓库的时候会连同校验文件一起提交，checksumPolicy表示当这个校验文件缺失或不正确的时候该如何处理，可选项有ignore、fail和warn-->
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
				</repository>
				<!-- <repository>
					<id>wiiqq-snapshots-repository</id>
					<url>http://mvn.wiiqq.com/repository/maven-snapshots/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository> -->
				<!-- <repository>
					<id>wiiqq-public-repository</id>
					<url>http://mvn.wiiqq.com/repository/maven-public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository> -->
				<repository>
					<id>spring-milestones-repository</id>
					<url>https://repo.spring.io/milestone/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>tengyun-public</id>
					<url>http://203.195.183.207/repository/tengyun-maven-public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<!--表示对于所有的pom都处于活跃状态的profile-->
	<activeProfiles>
		<activeProfile>repo-config</activeProfile>
	</activeProfiles>
	<repositories>
		<repository>
			<id>alimaven</id>
			<url>https://maven.aliyun.com/repository/public</url>
		</repository>
	</repositories>
	<pluginRepositories>
		<pluginRepository>
			<id>alimaven</id>
			<url>https://maven.aliyun.com/repository/public</url>
		</pluginRepository>
	</pluginRepositories>
</settings>
